@import '../../../styles/mixins/global.scss';

.high-photo-editor-section {
    padding: 100px 0;
    .view-all-editors-alignment {
        @include flex-center;
        justify-content: center;
        .fill-button {
            button {
                @include heading-6;
                min-width: 273px;
            }
        }
    }
    .card-grid {
        @include grid;
        gap: 24px;
        padding: 0 0 40px 0;
        .card-grid-items {
            grid-column: span 3;
            border: 1px solid var(--border-color);
            @include card-shadow;
            @include rounded-sm;
            @include ease-in-out;
            @include pointer;
            &:hover {
                @include top-up;
            }
            .card-image {
                img {
                    width: 100%;
                    height: 235px;
                    object-fit: cover;
                }
            }
            .card-details {
                padding: 15px;
                p {
                    @include text;
                    margin: 0 0 20px 0;
                    color: var(--black-5);
                }
                h4 {
                    @include heading-9;
                    color: var(--black-1);
                    sub {
                        @include text-sm;
                    }
                }
                .profile-section-alignment {
                    @include flex-between;
                    padding: 0 0 20px 0;
                    .profile-section {
                        @include flex-center;
                        div:first-child {
                            padding-right: 9px;
                        }
                        .rating-alignment {
                            @include flex-center;
                            padding: 3px 0 0 0;
                            img {
                                margin-right: 1px;
                                @include pointer;
                            }
                            img:last-child {
                                margin-right: 8px;
                            }
                            a {
                                @include text-sm;
                                padding-left: 9px;
                                color: var(--black-3);

                            }
                        }
                        div + div {
                            span {
                                @include text-md;
                                color: var(--black-color);
                            }
                        }
                        div:first-child {
                            img {
                                width: 46px;
                                height: 46px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-title {
        @include grid;
        padding: 0 0 40px 0;
         > div {
            grid-column: span  12;
            h1 {
                @include heading-8;
                color: var(--black-1);
                @include text-center;
                margin: 0 0 14px 0;
            }
            p {
                @include text-md;
                column-rule: var(--black-3);
                max-width: calc(798px);
                margin: 0 auto;
            }
        }
    }
}