hr{
    border: 0;
    height: 1px;
    background: rgb(165, 0, 0);
    background-image: linear-gradient(to right, #ccc, #1C3131, #ccc);
}
.login-signin {
    padding-top: 150px;
    height: 100%;
    width: 540px;
    max-width: 767px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-group {
        width: 100%;
    }
}
