@import '../../../styles/mixins/global.scss';

.child-image-alignment-section {
    margin: 20px 0 0 0;
    .child-image-style {
        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            @include rounded-sm;
        }
    }
    .slick-slide {
        padding: 0 10px;
        &:focus {
            outline: none;
        }
    }
    .slick-list {
        margin: 0 -10px;
    }
}