@import '../../styles/mixins/global.scss';

.hire-me-section-alignment {
    padding: 156px 0 50px 0;
    .hire-me-box-design {
        background: rgba(204, 204, 204, 0.1);
        border: 1px solid var(--border-color);
        @include rounded-sm;
        padding: 50px;
        .hire-now-profile-alignment {
            .profile-upload-section-alignment:nth-child(1) {
                padding-top: 0px;   
            }
        }
        .description-section-alignment {
            padding: 50px 0;
        }
        .medium-button {
            display: flex;
            justify-content: flex-end;
        }
        .profile-upload-section-alignment {
            padding: 50px 0;
            border-bottom: 1px solid var(--border-color);
            .image-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                .image-grid-items:nth-child(1) {
                    height: 211px;
                    @include rounded-sm;
                    width: 100%;
                    @include flex-center;
                    justify-content: center;
                    border: 1px dashed var(--border-color);
                    background-color: var(--white-color);
                    .button-relative {
                        @include relative;
                        @include flex-center;
                        justify-content: center;
                        button {
                            padding: 6px 30px;
                            border: 1px solid var(--primary-color);
                            @include text-sm;
                            color: var(--primary-color);
                            @include rounded-sm;
                            @include text;
                            background-color: transparent;
                            @include relative;
                            @include pointer;
                            input {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                @include pointer;
                                top: 0;
                                left: 0;
                                opacity: 0;
                            }
                        }
                    }
                    .image-center-alignment {
                        @include flex-center;
                        padding: 0 0 24px 0;
                        justify-content: center;
                    }
                }
                .image-grid-items {
                    max-width: 245px;
                    height: 100%;
                    word-wrap: 245px;
                    .upload-image-style {
                        img {
                            width: 100%;
                            height: 211px;
                            object-fit: cover;
                            @include rounded-sm;
                        }
                    }
                }
            }
        }
        .first-box-content-alignment {
            display: flex;
            justify-content: space-between;
            padding: 0 0 30px 0;
            .add-more-service-align {
                display: flex;
                align-items: flex-end;
            }
            .service-select {
                width: 655px;
                .select-relative {
                    @include relative;
                    .select-icon-alignment {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                        @include pointer;
                    }
                }
            }
        }
    }
}