
:root {
    
    --defult-font-family:'Montserrat', sans-serif;

    --primary-color:#0076B9;
    --orange-color:#E47911;
    --white-color:#FFFFFF;
    --black-3:#37475A;
    --black-5:#545A61;
    --black-1:#111111;
    --black-color:#001832;
    --black-2:#232F3E;
    --light-gray:#CCCCCC;
    --light-text-color:#D9E1EA;
    --border-color:#CCCCCC;
    --text-color:#001832;
    --border-color-1:#0076B9;
}